<style>
      .main{
        width: 100%;
        background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0rg51cV1kJauVB7Xqic1qamuSZm2tum8XeUfn2_rDcRpbWTOqxH3n3mLmCm9mQHQpNLM&usqp=CAU);
        background-position: center;
        background-size: cover;
        height: 100vh;
        position: relative;
        font-family: sans-serif;
        position: relative;
        padding: 5px;
      }  
      .navbar{
        width: 86%;
        display: flex;
        margin: auto;
        padding: 15px 0;
        align-items: center;
        justify-content: space-between;

      }
      .navbar .logo{
          width:160px;
          margin-top: 6px;
          margin-bottom: -2%;
          border-radius: 100px;
      }
      ul{
        margin-top:-4px;
      }
      ul li{
        display: inline-block;
        padding: 10px 16px;
      }
      ul li a{
        font-weight: bold;
        color: darkslategrey;
        margin: -3%;
        transition:.4s ease;
        text-decoration: none;
      }
      ul li a:hover{
        color:lightpink;
      }
      .info{
        margin-top: 6%;
        margin-left: 7%;
      }
      .info h1{
        font-size: 25px;
      }
      .info h3{
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 24px;
      }
      .info span{
        color: chocolate;
      }
      .info a{
        color:white;
        text-decoration: none;
        display: inline-block;
        background: black;
      }
      .image{
        width: 30%;
        height: 60%;
        position: absolute;
        right: 100px;
        bottom: 0;
      }
      
    </style>
